body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b1313181;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #8019a8;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#resposta {
  margin-top: 20px;
  font-size: 18px;
}

.complex {
  font-style: italic;
  color: #5c9db1;
}

a {
  color: #632da8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}